<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">personalData</ui:define>
		<ui:define name="content">
			<h3>Personal Data Gathering</h3>
			
			<h:form id="form">
				<h:panelGrid columns="2">
					<h:outputText value="Name"></h:outputText>
					<h:inputText value="#{data.name}" required="true"></h:inputText>
					
					<h:outputText value="Team"></h:outputText>
					<h:inputText value="#{data.team}" required="true"></h:inputText>
					
					
					<p:commandButton actionListener="#{logic.close}" value="Proceed" update="form" icon="ui-icon-check" />
				</h:panelGrid>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>